/* Defaults */
body {
  background: black;
}
h1 {
  color: #e91e63;
  font-family: 'Pacifico', cursive;
}
h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: pink;
  font-size: xx-large;
}
p{
  font-family: 'Open Sans Condensed', sans-serif;
  color: pink;
  font-size: large;
}
hr {
  max-width: 30%;
}
.parallax-container {
  max-height: 150px;
}
    

/* Nav */
#nav {
  color: white;
}
/* Intro */
#intro {
  height: 100vh;
}
#intro img {
  border-radius: 10%;
  border: 10px solid #ff80ab;
}

/* Portfolio */
#instafeed {
  padding-top: 1em;
  color: white;
}
#instafeed img {
  border: 10px solid #ff80ab;
  border-radius: 50%;
  max-width: 80%;
  height: auto;
  display: inline-block;
  transition: all ease 0.3s;
}
#instafeed img:hover {
  transform: scale(1.02);
}
#likes, #comments {
  display: block;
}

/* Contact */