/* Defaults */
html {
  background: black;
  margin: 0;
  padding: 0;
}
h1 {
  color: #e91e63;
  font-family: 'Pacifico', cursive;
}
h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: pink;
  font-size: xx-large;
}
p{
  font-family: 'Open Sans Condensed', sans-serif;
  color: pink;
  font-size: large;
}
hr {
  max-width: 30%;
}
.parallax-container {
  max-height: 150px;
}

/* Nav */
#nav {
  color: white;
}

/* Intro */
#intro {
  margin: 20px;
  padding: 20px;
  height: 100vh;
}
#intro img {
  border-radius: 10%;
  border: 10px solid #ff80ab;
}

/* Portfolio */
#instafeed {
  padding-top: 1em;
  color: white;
}
#instafeed img {
  border: 10px solid #ff80ab;
  border-radius: 10%;
  max-width: 90%;
  height: auto;
  display: inline-block;
  transition: all ease 0.3s;
}
#instafeed img:hover {
  transform: scale(1.02);
}
#likes, #comments {
  display: block;
}
#instagramLink {
  border: 10px solid #ff80ab;
  border-radius: 5%;
  background: white;
  color: black;
  font-size: 2em;
  padding: 1%;
  margin: 1%;
}

/* Contact */
#emailForm {
  color: pink;
  background: black;
  border: 10px solid #e91e63;
  border-radius: 1%;
  max-width: 50%;
  margin: 1% auto;
  padding: 3%;
}
#emailForm p {
  font-size: 2em;
  text-align: center;
}
#send {
  border: 10px solid #ff80ab;
  border-radius: 5%;
  background: white;
  color: black;
  font-size: 2em;
  padding: 1%;
  margin: 1%;
}
/* Footer */
footer p {
  color: pink;
}