/* Defaults */
html {
  background: black;
  margin: 0;
  padding: 0;
}
h1 {
  color: #e91e63;
  font-family: 'Pacifico', cursive;
}
h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: pink;
  font-size: 3em;
}
p {
  font-family: 'Open Sans Condensed', sans-serif;
  color: pink;
  font-size: 2em;
}
hr {
  max-width: 30%;
}
.parallax-container {
  max-height: 150px;
}

body{
  width: 100%;

  overflow-x: hidden;
}

.preloader-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
}

/* Nav */
#nav {
  color: white;
}

/* Intro */
#intro {
  margin: 20px;
  padding: 20px;
  height: 100vh;
}
#intro img {
  border-radius: 10%;
  border: 10px solid #ff80ab;
  padding: 1em;
  box-shadow: 15px 15px 20px pink;
}

/* Portfolio */
.parent {
  display: inline-block;
  position: relative;
  border-radius: 90%;
}
.popup {
  display: none;
  color: #ffc0cb;
  font-size: 2em;
  text-shadow: 1px 1px 2px black;
}
.picture {
  border: 10px solid #ff80ab;
  border-radius: 10%;
  width: 95%;
  padding: 1em;
  margin: 1em;
  transition: all ease 0.3s;
}
.parent:hover .picture {
  transform: scale(1.02);
  opacity: 0.5;
}
.parent:hover .popup {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#likes {
  color: red;
  text-shadow: 1px 1px 2px black;
}
#comments {
  color: white;
  text-shadow: 1px 1px 2px black;
}
#likes, #comments {
  display: block;
}

/* Contact */
#emailForm {
  background: url('../assets/postcard-bg-original.png') center no-repeat;
  background-size: cover;
  border: 10px solid #ff80ab;
  max-width: 50%;
  margin: 3% auto;
  padding: 3%;
  border-radius: 1%;
  font-family: 'Open Sans Condensed', sans-serif;
  color: black;
}
#contact-form {
  transform:translateY(3%);
}
#firstName, #emailBox {
  max-width: 70%;
  margin: 0 auto;
  text-align: right;
  border-bottom: 3px solid #ff80ab;
  font-family: 'Pacifico', cursive;
  font-size: 1.3em;
}
#emailForm textarea {
  max-width: 70%;
  height: auto;
  border: 3px solid #ff80ab;
  font-family: 'Pacifico', cursive;
  color: black;
  font-size: 1.3em;
}
#emailForm input:focus {
  color: black;
  outline-style: none;
  box-shadow: none;
  border-color: black;
  border-width: 3px;
}
#emailForm textarea:focus {
  outline-style: none;
  box-shadow: none;
  border: 3px solid black;
}
#emailForm input::placeholder, textarea::placeholder {
  color: #e91e63;
  opacity: 0.5;
}
#date {
  max-width: 70%;
  margin: 0 auto;
  text-align: right;
  font-family: 'Pacifico', cursive;
  color: black;
}
#hi {
  max-width: 70%;
  margin: 0 auto;
  text-align: left;
  font-family: 'Pacifico', cursive;
  color: black;
}
#sincerely{
  max-width: 70%;
  margin: 0 auto;
  text-align: right;
  font-family: 'Pacifico', cursive;
  color: black;
}
#send, #igLink {
  border: 5px solid #ff80ab;
  border-radius: 5%;
  background: white;
  color: black;
  font-size: 1.3em;
  padding: 1%;
  margin: 3%;
  font-family: 'Pacifico', cursive;
}
#send:hover, #igLink:hover {
  color: #ff80ab;
  background: black;
}

/* Footer */
footer p {
  color: pink;
  font-size: 1.5em;
}